/* body {
  margin: 0;
} */

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  align-items: center;
}

.logo {
  background-image: url("../images/logo_place_header.svg");
  width: 183px;
  height: 32px;
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  /* height: 192px; */
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  /* height: 75px; */
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  margin: 0;
  line-height: 25px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* .header__link {

} */

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  margin-top: 100px;
}

.two-columns {
  /* box-sizing: border-box; */
  /* padding: 100px 0; */
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
  width: 80%;
  min-width: 784px;
  margin: 0 auto;
}

.two-columns__brief {
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin: 0;
  line-height: 1.2;
}

.two-columns__main-text {
  font-size: 24px;
  font-weight: normal;
  width: 80%;
}

.two-columns__paragraph {
  margin-top: 30px;
  line-height: 34px
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.digits {
  margin: 100px auto 0;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1100px;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  margin: 100px auto 0;
  height: 890px;
  background: url("../images/feynman.png");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: bottom left;
  /*Схлопывание :(  Так и не понял что делать в таком случае*/
  position: relative;
  overflow: hidden;
}

.feynman__title {
  margin: 100px auto 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  width: 648px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px 0 0;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  margin: 0 auto;
  padding: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background: url("../images/kaufman-triangle.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}